*.test
*.exe
*.dll
*.so
*.dylib

# Folders
node_modules
espal-core
app/*
app/assets/files/private/*
app/assets/files/public/*
app/assets/js/spa
!app/assets
dist
tmp

# Specific files
*.qtpl.go.tmp
panic.txt
Thumbs.db
.DS_store
.idea