*.dll
*.dylib
*.exe
*.so
*.test

# Folders
.idea
app/*
app/assets/files/private/*
app/assets/files/public/*
!app/modules
dist
node_modules
tmp

# Specific files
*.qtpl.go.tmp
.DS_store
espal-core
panic.txt
Thumbs.db