*.test
*.exe
*.dll
*.so
*.dylib
.DS_store
.idea
app/assets/files/public/*
!app/assets/files/public/.gitkeep
app/assets/files/private/*
!app/assets/files/private/.gitkeep
app/database/*
!app/database/.gitkeep
app/server/*
!app/server/.gitkeep
app/config*.yml
cmd/espal-run/espal-run
cmd/espal-store-synthesizer/espal-store-synthesizer
espal-core
panic.txt
Thumbs.db
